
<% if params_present_and_no_flights_found? %>
  <p class="alert alert-danger">
    No flights found. Please make sure you have selected an option for each field.
  </p>
  <%= render "search_form" %>
<% elsif @flights.empty? %>
  <%= render "search_form" %>
  <%= image_tag("plane1.png", class: "plane1") %>
<% else %>
  <%= render "search_form" %>
  <%= render "results_selection_form" %>
<% end %>
